<div class="login-wrapper">
  <h2>Connexion</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom d'utilisateur</mat-label>
      <input
        matInput
        name="username"
        required
        [(ngModel)]="username"
        #usernameField="ngModel"
      />
      <mat-error *ngIf="usernameField.invalid && usernameField.touched">
        Ce champ est requis
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        name="password"
        [type]="hidePassword ? 'password' : 'text'"
        required
        [(ngModel)]="password"
        #passwordField="ngModel"
        autocomplete="off"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        type="button"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordField.invalid && passwordField.touched">
        Ce champ est requis
      </mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Se connecter
    </button>

    <mat-error *ngIf="error" class="login-error">
      Identifiants invalides. Réessayez.
    </mat-error>
  </form>
</div>
