<!--<div class="login-wrapper">
  <h2>Connexion</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom d'utilisateur</mat-label>
      <input
        matInput
        name="username"
        required
        [(ngModel)]="username"
        #usernameField="ngModel"
      />
      <mat-error *ngIf="usernameField.invalid && usernameField.touched">
        Ce champ est requis
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        name="password"
        [type]="hidePassword ? 'password' : 'text'"
        required
        [(ngModel)]="password"
        #passwordField="ngModel"
        autocomplete="off"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        type="button"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordField.invalid && passwordField.touched">
        Ce champ est requis
      </mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Se connecter
    </button>

    <mat-error *ngIf="error" class="login-error">
      Identifiants invalides. Réessayez.
    </mat-error>
  </form>
</div>!-->


  <body class="login">
    <div>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" [(ngModel)]="username" name="username"
        #usernameField="ngModel"/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" [(ngModel)]="password" name="password"
        #passwordField="ngModel"
        autocomplete="off"/>
              </div>
              <div>
                <button class="btn btn-default submit"  type="submit"
      [disabled]="loginForm.invalid">Log in</button>
              </div>

              <div class="clearfix"></div>


            </form>
          </section>
        </div>

        
      </div>
    </div>
  </body>

