<h2>Ajouter Poinçons Details</h2>

<form [formGroup]="form" (ngSubmit)="next()" class="step-form">

  <div class="grid-container">

    <mat-form-field appearance="outline">
      <mat-label>Nombre de poinçons</mat-label>
      <input type="number" matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Matrice</mat-label>
      <input matInput formControlName="matrice" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Largeur</mat-label>
      <input type="number" matInput formControlName="largeur" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Longueur</mat-label>
      <input type="number" matInput formControlName="longueur" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ref Sup</mat-label>
      <input matInput formControlName="refSup" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ref Inf</mat-label>
      <input matInput formControlName="refInf" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Diamètre</mat-label>
      <input type="number" matInput formControlName="diametre" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CH adm</mat-label>
      <input matInput formControlName="chAdm" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="a">a</mat-option>
        <mat-option value="b">b</mat-option>
        <mat-option value="c">c</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="form-actions">
    <button mat-flat-button color="primary" type="submit">Next ⭢</button>
  </div>

</form>
